:root{
    --primary-color: #bbb;
    --secondary-color: #005f69;
    --project-card-color: #777;
}
body{
    margin: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    min-height: 59px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.2s;
    opacity: 95%;
    z-index: 1;
}
nav img{
    margin-left: 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
    color: var(--secondary-color);
}
nav a:hover{
    cursor: pointer;
    background-color: #999;
}
.burger{
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
}
@media screen and (max-width:770px){
    body{
        overflow-x: hidden;
    }
    nav ul{
        position: absolute;
        right: 0px;
        top: 58px;
        height: 90vh;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        margin: 0;
        transition: transform 0.5s ease-in;
    }
    nav ul li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .top{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .mid{
    opacity: 0;
}
.toggle .bot{
    transform: rotate(45deg) translate(-5px, -6px);
}
p {
    text-align: justify;
}
a {
    color: var(--secondary-color);
}
main{
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.section-title{
    color: var(--secondary-color);
}
.background{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.web-dev{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.background-text{
    width: 50%;
    margin-right: 10%;
}
.web-dev-text{
    width: 50%;
    margin-right: 0px;
    margin-left: 10%;
}
@media screen and (max-width: 770px){
    .background, .web-dev{
        flex-direction: column;
        align-items: center;
    }
    .background-text, .web-dev-text{
        width: 100%;
        margin: 0px;
    }
}
#courses{
    width: 100%;
}
.courses-container{
    display: flex;
    justify-content: start;
    align-items: start;
}
.courses-list{
    min-width: 165px;
    font-weight: bold;
    margin-right: 50px;
}
.courses-list ul{
    padding: 0px;
    margin-top: 0px;
}
.courses-list ul li{
    list-style-type: none;
    padding: 10px 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 2px;
}
.courses-list ul li:hover{
    cursor: pointer;
    background-color: #ddd;
    color: var(--secondary-color);
}
.btn-active{
    background-color: var(--secondary-color);
    color: #fff;
}
.course-content{
    text-align: justify;
}
.custom-list{
    column-count: 2;
    font-size: 12px;
    color: #444;
    line-height: 20px;
}
@media screen and (max-width:650px){
    main{
        width: 90%;
    }
    .courses-container{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .courses-list{
        width: 100%;
    }
    .courses-list ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .courses-li ul li{
        flex: 1;
    }
}
.codecademy, .near{
    display: none;
}
.course-description-inactive{
    display: none;
}
.course-description-active{
    display: block;
}
.projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card{
    width: 300px;
    height: 400px;
    background-color: var(--project-card-color);
    color: #fff;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    font-size: 14px;
}
.project-card:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: transform 0.3s ease-in;
}
.project-card i{
    float: right;
    color: #000;
    margin-left: 10px;
}
.project-card i:hover{
    color: #ccc;
}
.card-list{
    column-count: 2;
    font-size: 12px;
    line-height: 20px;
}
footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 80vw;
    border-top: 2px solid var(--secondary-color);
}
