:root{
    --primary-color: #bbb;
    --secondary-color: #005f69;
    --dark-grey-color: #777;
}
body{
    margin: 0;
    font-family: sans-serif;
}

/* nav section */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    min-height: 59px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.2s;
    /*opacity: 95%;*/
    z-index: 3;
}
nav img{
    margin-left: 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
    color: var(--secondary-color);
}
nav a:hover{
    cursor: pointer;
    background-color: #999;
}
.burger{
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
}
@media screen and (max-width:770px){
    body{
        overflow-x: hidden;
    }
    nav ul{
        position: absolute;
        right: 0px;
        top: 58px;
        height: 90vh;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        margin: 0;
        transition: transform 0.5s ease-in;
    }
    nav ul li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .top{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .mid{
    opacity: 0;
}
.toggle .bot{
    transform: rotate(45deg) translate(-5px, -6px);
}
a {
    color: var(--secondary-color);
}

/* main section */

main{
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width:650px){
    main{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    main {
        width: 95%;
    }
}

/* home section */

#home {
    position: sticky;
    top: 120px;/* 60px for the margin and 60px for the navbar */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark-grey-color);
    z-index: -2;
}
#home img {
    max-width: 85vw;
    max-height: 55vh;
    margin-top: 50px;
}
#home h1 span {
    font-size: 2.2em;
    color: var(--secondary-color);
}

.fade-out {
    opacity: 0;
}

/* Courses section */

#courses{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#courses h3 {
    cursor: pointer;
    transition: 0.2s;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}
#courses p {
    width: 100%;
    box-sizing: border-box;
    max-height: 250px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0,0);
    transition: 0.3s opacity 0.6 max-height;
    z-index: 2;
    border: solid 1px var(--secondary-color);
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px
}
#courses ul {
    list-style-type: none;
    padding-left: 0;
}
#courses ul li {
    position: relative;
    overflow: hidden;
}
#courses ul li:last-of-type {
    padding-bottom: 0;
}
#courses ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 30px;
    right: 15px;
}
#courses ul li i:before, ul li i:after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 3px;
    height: 15px;
}

#courses ul li i:before {
    transform: translate(-5px, 0) rotate(45deg);
}
#courses ul li i:after {
    transform: translate(-5px, 0) rotate(-45deg);
}

#courses ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
}
#courses ul li input[type=checkbox]:checked ~ p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0px;
    transition: 0.3s;
    opacity: 0;
}
#courses ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
#courses ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-8px, 0) rotate(-45deg);
}
.transition, p, ul li i:before, ul li i:after {
    transition: all 0.3s;
}
.section-title{
    color: var(--secondary-color);
    font-size: 3em;
    margin: 100px 0px;
    z-index: 2;
}
.section-text {
    color: var(--dark-grey-color);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
    margin-bottom: 50px;
}


/* Projects section */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.project-card{
    position: relative;
    width: 450px;
    height: 350px;
    color: #fff;
    margin: 10px;
}
@media screen and (max-width: 500px){
    .project-card {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
.image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-blur{
    backdrop-filter: blur(5px);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    opacity: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.35s;
}
.overlay:hover {
    opacity: 1;
}
.overlay > * {
    transform: translateY(40px);
    transition: transform 0.35s;
}
.overlay:hover > * {
    transform: translateY(0px);
}
.project-card i{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.2em;
    color: #fff;
}
.project-card i:hover{
    color: #ccc;
}
.card-list{
    column-count: 2;
    font-size: 12px;
    line-height: 20px;
}
