body{
    margin: 0;
    background-color: #0c0229;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #00f;
    min-height: 58px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.2s;
    opacity: 60%;
    z-index: 1;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav a{
    color: #ccc;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
}
nav a:hover{
    cursor: pointer;
    background-color: #000;
}
.burger{
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #ccc;
}
@media screen and (max-width:770px){
    body{
        overflow-x: hidden;
    }
    nav ul{
        position: absolute;
        right: 0px;
        top: 58px;
        height: 90vh;
        background-color: #00f;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /*opacity: 100%;*/
        width: 50%;
        transform: translateX(100%);
        margin: 0;
        transition: transform 0.5s ease-in;
    }
    nav ul li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .top{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .mid{
    opacity: 0;
}
.toggle .bot{
    transform: rotate(45deg) translate(-5px, -6px);
}
main{
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ccc;
}
